/* .progress-container{
}

.progress-management .overlap-wrapper {
  height: 280px;
}

.progress-management .overlap-3 {
  position: relative;
  height: 280px;
  background-color: var(--variable-collection-light-gray);
  border-radius: 10px;
}

.progress-management .text-wrapper-7 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--variable-collection-black-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-3 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-3:hover {
  background-color: #D7D7D7;
}

.progress-management .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.progress-management .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-4 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-4:hover {
  background-color: #D7D7D7;
}

.progress-management .frame-5 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-5:hover {
  background-color: #D7D7D7;
}

.progress-management .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--variable-collection-red);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
} */